/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLE OF CONTENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - Reused Variables
  - Config HTML Styles

  - Background Image
  - Top Banner
  - Header

  - Page Wrapper Layout
  - Page Contents

  - The Journey Page
  - Contact Us Page

  - Footer
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/* Reused Variables -------------------------------------------------------- */
:root {
  --nav-bg: #4f4f4f;
  --article-bg: #f2f2f2;
  --section-bg: #fff;
  --link-text: #248dd4;
}

/* Config HTML Styles ------------------------------------------------------ */
* {
  /* remove defaults from all elements */
  margin: 0;
  padding: 0;
}

/* set scrollbar always active */
html { height: 101%; }

body {
  /* font-family: Verdana, Geneva, sans-serif; */
  font-family: Artifika;

  line-height: 175%;
  /* background-color: yellow; */
}

/* link style */
a {
  text-decoration: none;
  color: var(--link-text);
}

a:hover { text-decoration: underline; }

/* Background Image -------------------------------------------------------- */
#fixed-background {
  /* fill entire view window */
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position behind all other content */
  z-index: -1;
  /* set background image */
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Top Banner -------------------------------------------------------------- */
#banner {
  width: 100%;
  height: 100px;
  /* set background image */
  background-image: url("img/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header ------------------------------------------------------------------ */
header {
  background-color: var(--nav-bg);
  padding: 0.5em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* class to fix header to top past certain scroll point */
.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--nav-bg);
  padding: 0.5em 5%;
  display: flex;
  justify-content: space-between;
}

.fixed-header + #page-wrapper {
  /* reposition page-wrapper when header is fixed */
  padding-top: 70px;
}

/* header links */
header a {
 color: white;
 text-decoration: none;
}

header a.active {
  /* active link */
  text-decoration: underline;
}

/* logo container (contains image and text) */
#logo {
  display: flex;
  align-items: center;
}

#logo img {
  max-width: 50px;
  margin-right: 1em;
}

/* top navigation links */
#top-nav { list-style: none; }

#top-nav li {
  display: inline-block;
  margin: 0 0.5em;
}

/* reflow header on small screens */
/* (TEMPFIX: To replace with Hamburger Menu) */
 @media (max-width: 650px) {
    header { flex-direction: column; }
    .fixed-header + #page-wrapper { padding-top: 96px; }
    #logo { align-self: flex-start; }
    #top-nav { align-self: flex-end; }
 }

/* Page Wrapper Layout ----------------------------------------------------- */
#page-wrapper {
  /* wrapper to center sidebars and page content in view window */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

#center {
  /* main page content */
  min-width: 50%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

#left {
  /* left sidebar */
  min-width: 25%;
  width: 25%;
  /* background-color: red; */
}
#right {
  /* right sidebar */
  min-width: 25%;
  width: 25%;
  /* background-color: yellow; */
}

/* reflow page layout on small screens */
@media (max-width: 700px) {
  /* sidebars shift to top and bottom of page */
  #page-wrapper { flex-direction: column-reverse; }

  /* all content areas fill full screen width */
  #center, #right, #left { min-width: 100%; }
}

/* Page Contents ----------------------------------------------------------- */
article {
  /* layout style */
  padding: 1.5em;
  margin: 0.5em;
  max-width: 100%;
  /* self style */
  background-color: var(--article-bg);
  border-radius: 15px;
}

article p {
  margin-top: 0.75em;
}

/* The Journey Page -------------------------------------------------------- */
/* journey left and right columns */
.journey h2 { font-size: 1.25em; }

.journey section { margin: 0.75em 0; }

.journey a {
  display: block;
  margin: 0.25em 0;
  font-style: italic;
}

/* journey center articles */
.journey #center h1 {
  text-align: center;
}

.journey #center p {
  text-indent: 1.5em;
}

/* Contact Us Page --------------------------------------------------------- */
.contact #center {
  /* main page content */
  max-width: 75%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

.contact section {
  /* layout style */
  padding: 1.5em;
  margin: 0.75em 0;
  max-width: 100%;
  /* self style */
  background-color: var(--section-bg);
  border-radius: 15px;
}

/* Profile Images */
.contact .avatar {
  float: right;
  width: 100px;
  max-height: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--nav-bg);
  margin-left: 1em;
}

/* @media (max-width: 650px) { .contact .avatar { width: 25%; } } */

/* prevent floated profile images from overflowing container */
.contact section { overflow: auto;}

/* Contact Links */
.contact nav { padding-top: 1em; }
.contact a { margin-right: 1em; }


/* Footer ------------------------------------------------------------------ */
footer {
  background-color: var(--nav-bg);
  padding: 0.5em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
 }

/* reflow footer on small screens */
 @media (max-width: 650px) {
    footer {
      flex-direction: column;
      align-items: flex-start;
    }
 }
