/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLE OF CONTENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Config Styles
  - Reused Variables
  - HTML Elements
  - General Classes
  Background and Top Navigation
  - Background Image
  - Top Banner
  - Header
  - Profile Popup
  Page Layout
  - Page Wrapper Layout (Responsive/Multi-column)
  - Homepage
  - The Journey Page
  - Contact Us Page
  Bottom Navigation
  - Footer
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/* Reused Variables -------------------------------------------------------- */
:root {
  --nav-bg: #4f4f4f;
  --article-bg: #f2f2f2;
  --section-bg: #fff;
  --link-text: #248dd4;
}

/* HTML Elements ----------------------------------------------------------- */
* {
  /* remove defaults from all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set scrollbar always active */
html { height: 101%; }

body {
  /* font-family: Verdana, Geneva, sans-serif; */
  font-family: Artifika;
  line-height: 175%;
}

/* link style */
a {
  text-decoration: none;
  color: var(--link-text);
}

a:hover { text-decoration: underline; }

/* content areas */
article {
  /* layout style */
  padding: 1.25em;
  margin: 0.75em 0.5em;
  max-width: 100%;
  /* self style */
  background-color: var(--article-bg);
  border-radius: 5px;
  box-shadow: 0 0 0.5em 0.1em var(--nav-bg);
  overflow: hidden;
}

article p {
  margin-top: 0.75em;
}

iframe {
  display: block;
  margin: 1em auto;
  width: 500px;
  max-width: 100%;
  height: 275px;
}

@media (max-width: 550px) {
  iframe { height: 45vw; }
}

input {
  /* remove iOS defaults */
  -webkit-appearance: none;
}


section {
  /* layout style */
  padding: 1.25em;
  margin: 0.75em 0;
  max-width: 100%;
  /* self style */
  background-color: var(--section-bg);
  border-radius: 15px;
  box-shadow: 0 0 0.5em 0.1em var(--nav-bg);
}

/* General Classes --------------------------------------------------------- */
a.active {
  /* active links */
  text-decoration: underline;
}

.btn {
  /* styled buttons */
  padding: 0.5em 0.75em;
  border-radius: 30px;
  border: 0;
  background-color: var(--link-text);
  color: white;
  font-weight: bold;
  font-size: 0.85em;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 0.25em 0.1em var(--nav-bg);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0.1em var(--nav-bg) inset;
}

.btn.x {
  /* just an x button */
  background-color: red;
  text-align: center;
}

.r-float {
  /* right float */
  float: right;
  margin-left: 1em;
}

.wrapper {
  /* general content wrapper */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Background Image -------------------------------------------------------- */
#fixed-background {
  /* fill entire view window */
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position behind all other content */
  z-index: -1;
  /* set background image */
  background-image: url("../../assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Top Banner -------------------------------------------------------------- */
#banner {
  width: 100%;
  height: 100px;
  /* set background image */
  background-image: url("../../assets/img/banner.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

/* Header ------------------------------------------------------------------ */
header {
  background-color: var(--nav-bg);
  padding: 0.5em 5%;
  color: white;
}

/* class to fix header to top past certain scroll point */
.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--nav-bg);
  padding: 0.5em 5%;
}

.fixed-header + #page-wrapper {
  /* reposition page-wrapper when header is fixed */
  padding-top: 70px;
}


/* header links */
header a {
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

/* home link container (contains image and text) */
#home-link {
  display: flex;
  align-items: center;
}

#home-link img {
  max-width: 50px;
  margin-right: 1em;
}

/* top navigation links */
#top-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

#top-nav li {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
}

/* profile icon */
#profile-icon {
  border-radius: 50%;
}

#profile-icon img {
  min-width: 25px;
}

#profile-icon:hover {
  box-shadow: 0 0 0.5em 0.25em var(--link-text) inset;
  cursor: pointer;
}

/* reflow header on small screens */
 @media (max-width: 650px) {
    header .wrapper { flex-direction: column; }
    .fixed-header + #page-wrapper { padding-top: 106px; }
    #home-link { margin-bottom: 0.5em; }
 }

/* Profile Popup ----------------------------------------------------------- */
.popup-bg {
  /* empty div to dim page elements behind popup */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

#profile {
  width: 90vw;
  max-width: 400px;
  /* position top left corner of container exactly in center of window */
  position: absolute;
  top: 50%;
  left: 50%;
  /* reposition based off size of container for perfect center */
  transform: translate(-52.5%, -52.5%);
  /* default: do not display */
  display: none;
  z-index: 2;
}

#profile .stats span {
  display: inline-block;
  width: 100%;
  padding: 0.1em;
  border-bottom: 1px solid #ddd;
}

#profile .stats span:first-child { border-top: 1px solid #ddd; }

#profile .stats span:hover { background: #ddd; }

#profile .stats span.completed {
  font-weight: bold;
  color: var(--link-text);
}

#profile .stats span.completed:before {
  /* add a check mark */
  content: "\2713";
  margin-right: 0.5em;
}

#profile .stats span.incomplete {
  color: var(--nav-bg);
}

@media (max-height: 650px) {
  #profile .stats {
    max-height: 50vh;
    overflow: auto;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0 0.5em #000000 inset;
  }

  /* Customize Scrollbar */
  #profile .stats::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  #profile .stats::-webkit-scrollbar-thumb {
    background: var(--link-text);
    border-radius: 15px;
  }
}


/* Page Wrapper Layout ----------------------------------------------------- */
#page-wrapper {
  /* wrapper to center sidebars and page content in view window */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

#center {
  /* main page content */
  min-width: 50%;
  /* background-color: green; */
}

#left {
  /* left sidebar */
  min-width: 25%;
  width: 25%;
  /* background-color: red; */
}

#right {
  /* right sidebar */
  min-width: 25%;
  width: 25%;
  /* background-color: yellow; */
}

/* reflow page layout on small screens */
@media (max-width: 975px) {
  /* sidebars shift to top and bottom of page */
  #page-wrapper { flex-direction: column-reverse; }

  /* all content areas fill full screen width */
  #center, #right, #left { min-width: 100%; }
}

/* Homepage ---------------------------------------------------------------- */
#login p { margin: 0 0 0.75em 0; }

#login input[type=text], #login input[type=password] {
  padding: 0.5em;
  margin:  0;
  border-radius: 15px;
  border: 1px solid var(--nav-bg);
  color: var(--link-text);
}

#login input[type=text]:focus, #login input[type=password]:focus {
  outline: none;
  border: 1px solid var(--link-text);
  box-shadow: 0 0 0.25em 0.1em var(--link-text);
}

#login .buttons { margin-bottom: 0; }
#login .btn { margin: 0 0.25em; }


/* The Journey Page -------------------------------------------------------- */
/* journey left and right columns */
.journey h2 { font-size: 1.25em; }

.journey section { margin: 0.75em 0; }

.journey a {
  display: block;
  margin: 0.25em 0;
  font-style: italic;
}

/* journey center articles */
.journey #center h1 {
  text-align: center;
}

.journey #center p {
  text-indent: 1.5em;
}

/* Contact Us Page --------------------------------------------------------- */
.contact #center {
  /* main page content */
  max-width: 75%;
  display: flex;
  flex-direction: column;
}

/* Profile Images */
.contact .avatar {
  width: 100px;
  max-height: 50%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 0.5em 0.1em var(--nav-bg);
}

/* prevent floated profile images from overflowing container */
.contact section { overflow: auto;}

/* Contact Links */
.contact nav { padding-top: 1em; }
.contact a { margin-right: 0.5em; }


/* Contact Form */
#contact-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.25em 0;
}

#contact-form input[type=text], #contact-form input[type=password], #contact-form textarea {
  display: block;
  padding: 0.5em;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--nav-bg);
  color: var(--link-text);
}

#contact-form input[type=text]:focus, #contact-form input[type=password]:focus, #contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--link-text);
  box-shadow: 0 0 0.25em 0.1em var(--link-text);
}

#contact-form textarea {
  height: 8em;
}

#contact-form .buttons { margin-top: 0.75em; }
#contact-form .btn { margin: 0 0.25em; }

/* Footer ------------------------------------------------------------------ */
footer {
  background-color: var(--nav-bg);
  padding: 0.5em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  left: 0; bottom: 0; right: 0;
 }

/* accommodate fixed footer in page layout */
#page-wrapper { padding-bottom: 50px; }

/* reflow footer on small screens */
@media (max-width: 650px) {
  footer .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  #page-wrapper { padding-bottom: 75px; }
}
